script(type='text/javascript', src='/js/libs/jquery.js')
script(type='text/javascript', src='/js/libs/js.cookie.js')
script(type='text/javascript', src='/js/libs/bootstrap.min.js')
script(type='text/javascript', src='/js/libs/bootstrap-slider.min.js')
script(type='text/javascript', src='/js/libs/less.min.js')
script(type='text/javascript', src='/js/libs/dropzone.js')
script(type='text/javascript', src='/js/libs/bootbox.min.js')
script(type='text/javascript', src='/js/libs/bootstrap-datepicker.js')

script(type='text/javascript', src='/js/libs/underscore.js')
script(type='text/javascript', src='/js/libs/backbone.js')

script(type='text/javascript', src='/js/libs/md5.js')

script(type='text/javascript', src='/js/ap.js')
script(type='text/javascript', src='/js/ap.windows.js')