.modal.fade#modal(role='dialog')
   .modal-dialog
      .modal-content
         .modal-header
            button.close(type='button', data-dismiss='modal') &times;
            h4.modal-title Modal Header

         .modal-body
            p Some text in the modal.

         .modal-footer.hidden
            button.btn.btn-default(type='button', data-dismiss='modal') Close
