button.disabled.btn.btn-facebook(data-social='facebook')
	i.fa.fa-facebook

button.disabled.btn.btn-twitter(data-social='twitter')
	i.fa.fa-twitter

button.disabled.btn.btn-google-plus(data-social='google-plus')
	i.fa.fa-google-plus

button.disabled.btn.btn-vk(data-social='vk')
	i.fa.fa-vk